Repository hashicorp/terraform-cdk-action, pull requests merged in 2023-10, with the labels that each got.

#97 chore(deps): update pinned versions of GitHub Actions
  .github/workflows/auto-approve.yml
  .github/workflows/automerge.yml
  .github/workflows/build.yml
  .github/workflows/git-tags.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-cdktf.yml
  .github/workflows/upgrade-main.yml
  .github/workflows/upgrade-node-manually.yml
  .github/workflows/upgrade-node.yml
  .github/workflows/upgrade-terraform.yml
  .projenrc.ts
Labels: automerge, auto-approve

#99 chore: enable Dependabot for security updates only
  .github/dependabot.yml
Labels: automerge, auto-approve

#100 chore(deps): upgrade dependencies
  .gitattributes
  .gitignore
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package.json
  projenrc/auto-approve.ts
  projenrc/automerge.ts
  projenrc/lock-issues.ts
  projenrc/update-tags.ts
  projenrc/upgrade-cdktf.ts
  projenrc/upgrade-node.ts
  projenrc/upgrade-terraform.ts
  yarn.lock
Labels: automerge, dependencies

#101 chore!: increase Node.js version to 20.9.0
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projen/deps.json
  .projenrc.ts
  README.md
  action.yml
  package.json
  yarn.lock
Labels: automated, automerge, security
